{% extends "layout.html" %}

{% block body %}

<h1>Register an Elective</h1>
<form action="/register" method = "post">
    <input autocomplete="off" autofocus name="name" placeholder="Full Name" type="text" >
    <select name="electives">
        <option disabled selected value="">Choose an elective</option>
        {% for elective in electives %}
        <option value="{{elective}}">{{elective}}</option>
        {% endfor %}
    </select>
    <button type="submit">Register</button>
</form>

{% endblock %}